body {font-family: 'roboto', sans-serif;
font-weight: 400, 500, 700; color: black; font-size: 16px;}
.hero {background-color: #2E2F42;
height: 600px;}
h1 {color: #fff; font-size: 56px; text-align: center; line-height: 60px;}
h3 {font-size: 20px;}
.page-nav .link {color: #434455;}
.page-nav .link:hover {color: red;}
.mail, .tel {color: #434455;}
.mail:hover, .tel:hover {color: red;}
.person {color: #434455;}
.person:hover {color: red;}
.person:focus {color: blue;}
.button {font-size: 16px; color: #434455; cursor: pointer;}
.button:hover {color: red;}
.button:focus {color: blue;}


